<div class="container">

<h2> Welcome to Dummy Page!<h2>

    <h3>It's Easy to Create an Account</h3>
    <form action="/signup" method = "post">
     <p>Name : <input type="text" name="signup[name]"></p>
     <p>Email : <input type="text" name="signup[email]"></p>
     <p>Password : <input type="password" name="signup[password]"></p>
     <p>Reconfirm Password : <input type="password" name="signup[confirm_pass]"></p>
     <p><input type="submit" value="Jom, get me in!"></p>
    </form>

</div>