<div class="container">

<h2> Welcome!</h2>

<h1>URL Shortener</h1>
  <p>Give us a URL you'd like to shorten:</p>

  <form action="/urls" method="post">
  <p><b>Your URL : </b><input type="text" name="url"></p>
  <p><input type="submit" value="Short it!"></p>
  </form>

  <h3>URL shorties already available:</h3>
  
    <table border=1>
      <tr>
        <th>Url</th>
        <th>Short Url</th>
        <th>Click count</th>
       </tr>
        <% @shorturl.each do |url|%>
        <tr>
        <td><%= url.ori_url%></td>
        <td><a href = "<%= url.short_url%>"><%=url.short_url%></td>
        <td><%= url.click_count%></td>
       </tr>
         <% end %>
    </table>

<form action="/logout" method="get">
<input type="submit" value="logout">
</form>

</div>